.rb-list
    display: grid
    align-items: stretch
    justify-content: center
    gap: 2em
    grid-auto-flow: row
    grid-template-columns: repeat(auto-fill, minmax(min(30em, 100%), 1fr))
@media screen and (width < 768px)
    .rb-list
        gap: 0.75em
