<ng-template #placeholder>
    <div class="rb-panel"></div>
</ng-template>
@if (service.isActivated() && !service.data.isLoading() && service.data.value()) {
    @for (key of service.grouped() | key; track key) {
        <bung-divider class="section-divider" prompt="Glasses - {{ key }}" />
        <div class="rb-list">
            @for (glass of service.grouped()[key]; track glass.id) {
                <bung-insertion isVirtualized [placeholder]="placeholder" sharedIntersectionGroup="rb-panel">
                    <rb2-glass [glass]="glass" animate.enter="rb-panel-enter" animate.leave="rb-panel-leave" />
                </bung-insertion>
            }
        </div>
    }
    <bung-divider class="section-divider" prompt="End of Lime Glasses" />
}
