.badge-background
    background: linear-gradient(90deg, #FFF014 0.43em, #17D4FF 0.43em, #17D4FF 0.86em, #FF04F3 0.86em, #FF04F3 1.5em, #82FF00 1.5em)
:host.is-active:not(.is-disabled), :host.enter:not(.is-disabled)
    .badge-label
        .lime
            color: #46503B
            margin-left: 1.5em
        .light
            color: #749452