.bung-popup-layer bung-modal
    pointer-events: none

    .modal-card-head, .modal-card-body, .modal-card-foot, .modal-card-content, .modal-close
        pointer-events: all
    .modal-card-title
        min-height: 20px