:host
    display: grid
    grid-template: 1fr / 1fr
    margin: -6px
    padding: 6px
    overflow: clip

.order-box
    grid-area: 1 / 1
    display: grid
    grid-template: 1fr / 1fr auto
    position: relative
    min-width: 300px
    z-index: 1

    &.is-slot.enter
        animation: rb3-order-order-enter-animation var(--animation-duration-lv2) var(--ease-in)
    &.is-slot.leave
        animation: rb3-order-order-enter-animation var(--animation-duration-lv2) var(--ease-out) reverse forwards
    &.is-slot.fixed
        animation: rb3-order-order-fixed-animation var(--animation-duration-lv2)
    &.is-slot.empty
        z-index: 0

.slot-id
    position: absolute
    display: flex
    inset: 0
    align-items: end
    justify-content: end
    overflow: clip
    opacity: 0.1
    white-space: nowrap
    user-select: none
    pointer-events: none

    span
        font-size: 4em
        font-weight: bold
        margin-right: -0.15em
        margin-bottom: -0.55em
.order-card
    grid-area: 1 / 1
    overflow-x: clip
    min-width: 0 // firefox compatibility
    background: var(--background)
    z-index: 10
.order-card.is-premium-slot
    box-shadow: 0 2px 3px #eadda4, 0 0 0 1px #eadda4
    
.color0
    --background: #f0fff4
    --accent-color: #23d160
    --accent-text-color: white
.color1
    --background: #ffffea
    --accent-color: #ffdd57
    --accent-text-color: var(--black-text)
.color2
    --background: #f2ffff
    --accent-color: #209cee
    --accent-text-color: white
.color3
    --background: #fff9ff
    --accent-color: #c36fcb
    --accent-text-color: white
.color4
    --background: #fffafa
    --accent-color: #e5676a
    --accent-text-color: white
.order-card-inside
    position: relative
    height: 100%
    border-radius: 8px
    overflow: clip
.order-content
    display: flex
    justify-content: start
    align-items: center
    height: 100%
    margin-bottom: 0
    gap: 1.25em
    border-radius: 8px
    overflow: auto

    .order-wrapper
        flex: 1
        display: grid
        grid-template: auto minmax(0, 1fr) / minmax(0, 1fr)
        margin: 1.25em
        align-self: start
        overflow-y: auto
    .order-info, .reward-info
        display: flex
        flex-direction: row
        align-items: center
        overflow: clip
        gap: 1em
    .order-name
        flex: 1
        font-weight: bold
        margin-bottom: 0
        min-width: 0

        .sub
            font-size: 1rem
            margin-left: 0.5em
            opacity: 0.7
    p:not(:last-child)
        margin-bottom: 0 // asphyxia fix
    .lock-button
        width: 2em
        height: 2em
    .lock-button.is-selected
        color: var(--accent-text-color)
        background: var(--accent-color)
    .stars i:not(:last-child)
        margin-right: -0.25em
    bung-icon
        display: inline-flex
        vertical-align: middle
.leading-tag
    width: 5em

.order-progress
    position: absolute
    left: 0
    right: 0
    bottom: 0
    height: 0.25em

    .progress-base
        position: absolute
        inset: 0
        background: var(--invert-card-background)
        opacity: 0.1
    .progress-body
        position: absolute
        inset: 0
        right: calc(100% - var(--progress))
        background: var(--accent-color)
        opacity: 0.7
.order-clear-badge
    position: absolute
    display: flex
    bottom: 1.25em
    right: 1.25em
    width: 3em
    height: 1.5em
    align-items: center
    justify-content: center
    color: var(--accent-text-color)
    background: var(--accent-color)
    border-radius: 9999px
    box-shadow: 0 2px 3px color-mix(in srgb, var(--accent-color) 80%, var(--invert-card-background)), 0 0 0 1px color-mix(in srgb, color-mix(in srgb, var(--accent-color) 80%, var(--invert-card-background)), transparent 70%)

    &::before
        border-radius: 9999px
.select-button
    grid-area: 1 / 2
    display: grid
    grid-template: 1fr / 1fr
    width: 4em
    height: auto
    margin-left: -1em
    padding-left: 0
    padding-right: 1em
    justify-items: center
    border-radius: 8px
    transform: rotate(180deg)
    transition: background var(--animation-duration-lv3), color var(--animation-duration-lv3), border var(--animation-duration-lv3), opacity var(--animation-duration-lv3), box-shadow var(--animation-duration-lv3), width var(--animation-duration-lv2) var(--ease-in)
    writing-mode: vertical-lr

    &:not([disabled]):hover
        width: 5em
    &:not([disabled]):active, &:not([disabled]).is-active
        width: 5em
    &.is-loading::after
        left: calc(50% - 1em)
        border-color: transparent transparent var(--accent-text-color) var(--accent-text-color)
    bung-icon
        grid-area: 1 / 1

    ::ng-deep .icon-element
        rotate: 90deg
.select-button, .lock-button.is-selected
    &:not(.no-color)
        background: var(--accent-color)
        color: var(--accent-text-color)
    &:not([disabled]):not(.no-color):hover
        background: color-mix(in srgb, var(--accent-color) 90%, var(--card-background))
    &:not([disabled]):not(.no-color):active, &:not([disabled]):not(.no-color).is-active
        background: color-mix(in srgb, var(--accent-color) 80%, var(--card-background))
    &:not(:active):not([disabled]):not(.no-color).is-focused, &:not(:active):not([disabled]):not(.no-color):focus
        box-shadow: 0 0 0 0.125em color-mix(in srgb, transparent 75%, var(--accent-color))
    &:not(.no-color).is-loading::after
        border-color: transparent transparent var(--accent-text-color) var(--accent-text-color)
    &[disabled]
        --opacity: 0.5
    
.select-button, .lock-button
    &:not(.no-color).is-focused, &:not(.no-color):focus
        border-color: color-mix(in srgb, var(--accent-color) 85%, white)

.error-info
    display: flex
    align-items: center
    justify-content: center
    opacity: 0.3

    .order-content
        width: 100%
        justify-content: center
@media screen and (width < 768px)
    .order-content
        gap: 0.75em

        .order-wrapper
            margin: 0.75em
        .order-info .order-name
            font-size: 1em !important

            .sub
                font-size: 0.75em
    .slot-id span
        font-size: 2.5em

    .order-hint
        line-height: 1.2
    .order-progress
        height: 0.1875em
    .order-clear-badge
        bottom: 0.75em
        right: 0.75em
        width: 1.5em
    .select-button
        font-size: 0.75em
        width: 3em

        &:not([disabled]):hover, &:not([disabled]):active, &:not([disabled]).is-active
            width: 4em
@media (prefers-color-scheme: dark)
    .color0
        --background: #001100
        --accent-color: #1ca64c
    .color1
        --background: #110900
        --accent-color: #ffd324
    .color2
        --background: #000925
        --accent-color: #0f81cc
    .color3
        --background: #1a001d
        --accent-color: #a559ac
    .color4
        --background: #1a0909
        --accent-color: #c35155
    .order-card.is-premium-slot
        box-shadow: 0 2px 3px #726945, 0 0 0 1px #726945
.order-box:not(.enter) .select-button.enter
    animation: rb3-order-select-button-enter-animation var(--animation-duration-lv3) var(--ease-in)
.order-box:not(.leave) .select-button.leave
    animation: rb3-order-select-button-enter-animation var(--animation-duration-lv3) var(--ease-out) reverse

@keyframes rb3-order-select-button-enter-animation
    from
        opacity: 0
    to
        opacity: var(--opacity, 1)
@keyframes rb3-order-order-enter-animation
    from
        transform: translateY(calc(100% + 6px))
    to
        transform: none
@keyframes rb3-order-order-fixed-animation
    from
        opacity: 1
    100%
        opacity: 1
    to
        opacity: 0