input.input {
    min-width: 100%
}
select {
    text-overflow: ellipsis;
}
.select select {
    max-width: 53vw;
}
.select option {
    max-width: 100%
}

tr td {
    vertical-align: middle !important;
}

#tab-content, .tab-content {
    display: none;
}

#tab-content.is-active, .tab-content.is-active {
    display: block;
}

tr#tab-content.is-active, tr.tab-content.is-active {
    display: table-row;
}

#tabs li.disabled a {
    background-color: #c0c0c0;
    border-color: #c0c0c0;
    color: #7f7f7f;
    cursor: default;
}

#tabs-mask { /* for mobiles */
    position: relative;
    margin-bottom: 24px;
}

#form-pagination ul.pagination-list {
    margin: 0!important;
}
.pagination-link, .pagination-next, .pagination-previous {
    border-color: transparent;
    transition: .2s linear;
}
.pagination-next, .pagination-previous {
    color: #209CEE;
}
.pagination-next:not([disabled]):hover, .pagination-previous:not([disabled]):hover {
    color: #118fe4;
}
/* Set all link color to Asphyxia CORE blue */
::selection {
    color: white;
    background-color: #209CEE;
}
a {
    color: #209CEE;
}
.tabs.is-toggle li.is-active a {
    background-color: #209CEE; 
    border-color: #209CEE;
}
.tabs li.is-active a {
    color: #209CEE; 
    border-color: #209CEE;
}
.pagination-link.is-current {
    background-color: #209CEE; 
    border-color: #209CEE;
}
.select:not(.is-multiple):not(.is-loading):after {
    border-color: #209CEE;
}
.select select:active, .select select:focus {
    border-color: #209CEE;
}
.button.is-link {
    background-color: #209CEE; 
}
.button.is-link.is-active, .button.is-link:active, .button.is-link.is-hovered, .button.is-link:hover {
    background-color: #118fe4; 
}
.input:active, .input:focus {
    border-color: #209CEE;
}
.table tr.is-selected {
    background-color: #209CEE; 
}

#card-content.is-hidden {
    display: none;
}
#card-content {
    display: block;
}
.marquee-label {
    display: inline-block;
}
.marquee-label-container {
    overflow-x: hidden;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: middle;
}

/* from Bulma */
.button.is-danger.is-light {
    background-color: #feecf0;
    color: #cc0f35;
}
.button.is-link.is-light {
    background-color: #edf8ff;
    color: #209CEE;
}
.button.is-danger.is-light.is-hovered, .button.is-danger.is-light:hover {
    background-color: #fde0e6;
    color: #cc0f35;
}
.button.is-link.is-light.is-hovered, .button.is-link.is-light:hover {
    background-color: #e0f1fc;
    color: #209CEE;
}
.tag.is-link.is-light {
    background-color: #edf8ff;
    color: #0D7DC6;
}
.tag.is-link.is-light:hover {
    background-color: #209CEE;
    color: white;
}
.tag.is-delete:hover {
    background-color: #FF3860!important;
    color: white;
}

.checkmark.invisible {
    opacity: 0;
}
.button.is-link.is-light .checkmark.invisible {
    color: #edf8ff;
}
.button.is-danger.is-light .checkmark.invisible {
    color: #feecf0;
}
.button.is-link.is-light.is-hovered .checkmark.invisible, .button.is-link.is-light:hover .checkmark.invisible {
    color: #e0f1fc;
}
.button.is-danger.is-light.is-hovered .checkmark.invisible, .button.is-danger.is-light:hover .checkmark.invisible {
    color: #fde0e6;
}

.modal-card {
    display: flex;
}
@media screen and (max-width: 768px) {
    .pagination {
        flex-wrap: nowrap;
        justify-content: left;
    }
    .select {
        max-width: 100% !important;
    }
    .select select {
        max-width: 100% !important;
    }
}
.pagination-ellipsis{
    width: 2.25em;
}
.pagination-link {
    min-height: 2.25em;
}
@media screen and (max-width: 500px) {
    .pagination-previous span, .pagination-next span {
        display: none
    }
    .paginated-container .pagination-link, .paginated-container .pagination-ellipsis, .paginated-container .pagination-previous, .paginated-container .pagination-next {
        width: 25px;
        min-width: 25px !important;
        height: 25px;
        min-height: 25px !important;
        font-size: 0.75em !important;
        padding: 0;
    }
}
@media print, screen and (min-width: 900px) {
    .modal-card, .modal-content {
        max-width: 900px!important;
        min-width: 600px;
        width: unset;
    }
}
@media print, screen and (min-width: 769px) {
    .modal-card, .modal-content {
        max-width: 100%;
        width: unset;
        min-width: 600px;
    }
}

.pagination {
    min-height: 3em;
}
.pagination-list {
    flex-wrap: nowrap;
    list-style: none!important;
    margin-top: 0.25em!important;
    margin-bottom: 0.25em!important;
}

.content li + li {
    margin-top: 0;
}

.one-quarter.for-wide, .one-third.for-wide {
    display: block;
    min-width: 100px;
}
.one-quarter.for-narrow, .one-third.for-narrow {
    display: none;
    min-width: 50px;
}
@media only screen and (max-width: 1023px) {
    .one-quarter.for-wide {
        display: none;
    }
    .one-quarter.for-narrow {
        display: block;
    }
}
@media only screen and (max-width: 768px) {
    .one-third.for-wide {
        display: none;
    }
    .one-third.for-narrow {
        display: block;
    }
    #tabs-mask::before { /* for mobiles */
        content: "";
        z-index: 1;
        height: 100%;
        background: linear-gradient(90deg, white 0, transparent 10px, transparent 90%, white 100%);
        width: 100%;
        position: absolute;
        left: 0;
        top: 0;
        pointer-events: none;
    }
    #tabs-mask .tabs::after {
        content: "";
        min-width: 30px;
        border: none !important;
        display: block;
        position: relative;
        pointer-events: none;
    }
}

@keyframes notification-fadeout {
    0% {
    opacity: 1;
    display: block;
    }
    80% {
    opacity: 1;
    display: block;
    }
    99.99% {
    opacity: 0;
    display: block;
    }
    100% {
    opacity: 0;
    display: none;
    }
}

.notification {
    animation: notification-fadeout 8s forwards;
    animation-play-state: paused;
}
.notification:hover {
    animation-play-state: paused;
}
.modal {
    padding-bottom: 13px;
}
.modal .modal-card-body {
    overscroll-behavior: contain;
}
@media screen and (max-width: 1024px) {
    .modal {
        transition: padding-left .2s ease-in-out 50ms;
    }
}
@media screen and (min-width: 1023px) {
    .modal {
        padding-left: 256px;
        transition: padding-left .2s ease-in-out 50ms;
    }
}
.tag {
    transition: linear .2s;
}
.tags .tag:not(:last-child) {
    cursor: default;
}

.modal table tr {
    border: solid #dbdbdb;
    border-width: 0 0 1px;
}
.modal table tbody tr:last-child {
    border-bottom-width: 0;
}
.hidden-wrapper {
    overflow: hidden;
}
.hidden-x-wrapper {
    overflow-x: hidden;
}
.hidden-y-wrapper {
    overflow-y: hidden;
}
.scrolling-wrapper {
    overflow: auto;
}
.scrolling-x-wrapper {
    overflow-x: auto;
}
.scrolling-y-wrapper {
    overflow-y: auto;
}
.clip-wrapper {
    overflow: clip;
}
.clip-x-wrapper {
    overflow-x: clip;
}
.clip-y-wrapper {
    overflow-y: clip;
}
a.pagination-previous {
    overflow: hidden;
}
a.pagination-next {
    overflow: hidden;
}
.button.checkbox, .button.checkbox .checkmark {
    transition: linear .2s;
}

tr.is-selected td .selected-shadow {
    box-shadow: 0 0 3px white, 0 0 3px white, 0 0 3px white, 0 0 3px white
}
tr.is-selected td .selected-shadow-text {
    text-shadow: 0 0 3px white, 0 0 3px white, 0 0 3px white, 0 0 3px white
}

.toggled-radio input[type="radio"] {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    z-index: -1;
}
.field .toggled-radio ul {
    margin: 0;
}
.field .toggled-radio .toggle {
    height: 36px;
}
.toggled-radio input[type="radio"]:checked + .toggle {
    color: white;
    background: #209CEE;
    border-color: #209CEE;
}

.nomargin {
    margin: 0!important;
}
.nopadding {
    padding: 0!important;
}
.nospace {
    margin: 0!important;
    padding: 0!important;
}
.nowrap {
    white-space: nowrap;
}