@forward "app/components"

:root
    interpolate-size: allow-keywords
    -webkit-tap-highlight-color: transparent

.card
    border-radius: 8px
.button
    transition: background var(--animation-duration-lv3), color var(--animation-duration-lv3), border var(--animation-duration-lv3), opacity var(--animation-duration-lv3), box-shadow var(--animation-duration-lv3)

// bulma fix
.card:not(:last-child)
    margin-bottom: 0rem
.card
    box-shadow: 0 2px 3px var(--card-shadow-color), 0 0 0 1px var(--card-shadow-color)
bung-tabs .tabs ul
    margin-left: 0
    margin-top: 0

// asphyxia fix
input
    transition: border-color var(--animation-duration-lv3) var(--ease-in)
@media (prefers-color-scheme: dark)
    .bung-input-content
        background: black
    .control .button:not(.is-selected):not(:hover):not(:active):not(.is-active)
        background: black
    .control rb-music-icon .card, rb-mylist-editor rb-music-icon .card, rb-mylist-editor rb-music-icon .button
        background: black
    bung-dropdown.show
        background: black
    .control input
        background: black

// shared styles
.rb-panel-enter
    animation: rb-panel-enter-animation var(--animation-duration-lv2) var(--ease-in) forwards
.rb-panel-leave
    animation: rb-panel-leave-animation var(--animation-duration-lv2) var(--ease-in) forwards
.has-tooltip
    position: relative
    &::before
        content: ""
        position: absolute
        inset: 0
        background: color-mix(in srgb, transparent 90%, var(--invert-card-background))
        opacity: 0
        border-radius: 4px
        transition: opacity var(--animation-duration-lv3) var(--ease-in)
        pointer-events: none
    &:hover::before
        opacity: 1
@keyframes rb-panel-enter-animation
    from
        opacity: 0
        transform: translateX(2em)
    to
        opacity: 1
        transform: none
@keyframes rb-panel-leave-animation
    from
        opacity: 1
        transform: none
    to
        opacity: 0
        transform: translateX(-2em)
