# Editor configs
.vscode

# External modules
node_modules

# Project files
asphyxia-core.d.ts
package.json
package-lock.json
tsconfig.json
The Asphyxia of Eternity icon.svg
README.md

# npm & git
.npmignore
.gitignore

# Debugging
bin
obj

# Package
*.tgz
*.zip