<div class="classcheck card rb-panel" [class.hoverable]="classcheck().stageLogs" (click)="onShowPopup()"
    [bungTooltip]="'Cannot find separated play data for each musics. Did you import this classcheck record from old Asphyxia?'" [bungTooltip.disabled]="!!classcheck().stageLogs">
    @let isV4 = classcheck().version === 4;
    @if (classcheck().clearType > 1) {
        <div class="deco-background has-rb{{ classcheck().version }}-background"></div>
        <div class="deco-background-blur-box">
            <div class="deco-background has-rb{{ classcheck().version }}-background"></div>
        </div>
    }
    @if (classcheck().stageLogs) {
        <div class="hover-background"></div>
    }
    <div class="classcheck-name">
        @if (classcheckNameSub()) {
            <bung-marquee class="sub-name" [content]="classcheckNameSub()" [spacing]="60" [delay]="1500" />
        }
        <bung-marquee class="main-name" [attr.lang]="classcheckNameSub() ? 'ja' : undefined" [content]="classcheckNameMain()" [spacing]="60" [delay]="1500" />
    </div>
    <div class="classcheck-clear-info">
        @if (isV4) {
            <div class="sub-info">{{ clearInfoSub() }}</div>
        }
        <div class="main-info" [attr.lang]="isV4 ? 'ja' : undefined">{{ clearInfoMain() }}</div>
    </div>
    <bung-divider isVertical />
    <div class="classcheck-score-info">
        <div class="classcheck-score-info-heading has-tooltip" [bungTooltip]="isV4 && classcheck().class > 16 ? 'Total score' : 'Average achievement rate'">
            @if (isV4 && classcheck().class > 16) {
                {{ classcheck().totalScore }}
            } @else {
                {{ classcheck().averageAchievementRate }}%
            }
        </div>
        @if (isV4 && classcheck().class > 16) {
            <bung-icon class="classcheck-ar has-tooltip" icon="percent" bungTooltip="Average achievement rate">{{ classcheck().averageAchievementRate }}%</bung-icon>
        } @else {
            <bung-icon class="classcheck-score has-tooltip" icon="counter" bungTooltip="Total score">{{ classcheck().totalScore }}</bung-icon>
        }
        <bung-icon class="classcheck-play-count has-tooltip" icon="restart" bungTooltip="Play count">{{ classcheck().playCount }}</bung-icon>
        <bung-icon class="classcheck-update has-tooltip" icon="update" bungTooltip="Update time">{{ classcheck().update | relativeTime }}</bung-icon>
        <bung-icon class="classcheck-last-play has-tooltip" icon="clock-time-nine-outline" bungTooltip="Last play">{{ classcheck().lastPlay | relativeTime }}</bung-icon>
    </div>
</div>
