<ng-template let-hide #rb>
    <rb- class="badge" [class.hide]="hide" [class.disabled]="!versionService.validVersions()[1]" [isActive]="versionService.validVersions()[1] && versionService.version() === 1" />
</ng-template>
<ng-template let-hide #ll>
    <rb-limelight class="badge" [class.hide]="hide" [class.disabled]="!versionService.validVersions()[2]" [isActive]="versionService.validVersions()[2] && versionService.version() === 2" />
</ng-template>
<ng-template let-hide #col>
    <rb-colette class="badge" [class.hide]="hide" [class.disabled]="!versionService.validVersions()[3]" [isActive]="versionService.validVersions()[3] && versionService.version() === 3" />
</ng-template>
<ng-template let-hide #gr>
    <rb-groovin class="badge" [class.hide]="hide" [class.disabled]="!versionService.validVersions()[4]" [isActive]="versionService.validVersions()[4] && versionService.version() === 4" />
</ng-template>
<ng-template let-hide #vol>
    <rb-volzza class="badge" [class.hide]="hide" [class.disabled]="!versionService.validVersions()[5]" [isActive]="versionService.validVersions()[5] && versionService.version() === 5" />
</ng-template>
<ng-template let-hide #ref>
    <rb-reflesia class="badge" [class.hide]="hide" [class.disabled]="!versionService.validVersions()[6]" [isActive]="versionService.validVersions()[6] && versionService.version() === 6" />
</ng-template>
<bung-menu-def #optionsDropdownDef [class]="breakpointService.breakpointsToggled.mobile() ? 'is-small' : ''">
    @if (versionService.validVersions()[1]) { <bung-menu-item [content]="rb" (click)="onNavigate(1)" /> }
    @if (versionService.validVersions()[2]) { <bung-menu-item [content]="ll" (click)="onNavigate(2)" /> }
    @if (versionService.validVersions()[3]) { <bung-menu-item [content]="col" (click)="onNavigate(3)" /> }
    @if (versionService.validVersions()[4]) { <bung-menu-item [content]="gr" (click)="onNavigate(4)" /> }
    @if (versionService.validVersions()[5]) { <bung-menu-item [content]="vol" (click)="onNavigate(5)" /> }
    @if (versionService.validVersions()[6]) { <bung-menu-item [content]="ref" (click)="onNavigate(6)" /> }
</bung-menu-def>
<div class="dropdown-trigger bung-input-content"
    [class.normal-style]="!versionService.validVersions()[versionService.version()]"
    (click)="onClick()"
    [bungDropdown]="optionsDropdownDef"
    [disabled]="isLoadingComputed()"
    activeClass="is-active"
    [options]="{ backdropOptions: { hasBackdrop: triggerMethod() === 'click', backdropOpacity: 0 }}" #dropdownTrigger>
    <div class="dropdown-trigger-content">
        <ng-container *ngTemplateOutlet="rb; context: (versionService.version() !== 1) | implicit" />
        <ng-container *ngTemplateOutlet="ll; context: (versionService.version() !== 2) | implicit" />
        <ng-container *ngTemplateOutlet="col; context: (versionService.version() !== 3) | implicit" />
        <ng-container *ngTemplateOutlet="gr; context: (versionService.version() !== 4) | implicit" />
        <ng-container *ngTemplateOutlet="vol; context: (versionService.version() !== 5) | implicit" />
        <ng-container *ngTemplateOutlet="ref; context: (versionService.version() !== 6) | implicit" />
    </div>
    <div class="tail-icon-grid">
        <i class="loading-icon mdi mdi-loading"></i>
        <i class="dropdown-item-chevron mdi mdi-chevron-down color{{ versionService.version() }}"></i>
    </div>
</div>
<div class="dropdown-trigger bung-input-content background-border">
    <div class="dropdown-trigger-content">
        <ng-container *ngTemplateOutlet="rb; context: (versionService.version() !== 1) | implicit" />
        <ng-container *ngTemplateOutlet="ll; context: (versionService.version() !== 2) | implicit" />
        <ng-container *ngTemplateOutlet="col; context: (versionService.version() !== 3) | implicit" />
        <ng-container *ngTemplateOutlet="gr; context: (versionService.version() !== 4) | implicit" />
        <ng-container *ngTemplateOutlet="vol; context: (versionService.version() !== 5) | implicit" />
        <ng-container *ngTemplateOutlet="ref; context: (versionService.version() !== 6) | implicit" />
    </div>
</div>
