.badge-collection > *
    display: block
    position: relative
    flex: 1
    height: 2em
    cursor: pointer

// rb::before
//     content: ""
//     position: absolute
//     inset: 0
//     z-index: 40
//     transition: background 0.2s

// rb.disabled::before
//     background: #7774
// rb.disabled
//     color: #bababa70

// rb:hover:not(.disabled)::before
//     background: #7771
