.color0
    // fallback of l = 0.95 in oklch
    --background: #ffe3e1
    --accent-color: #e5676a
    --accent-text-color: white
.color1
    --background: #d4f3ff
    --accent-color: #209cee
    --accent-text-color: white
.color2
    --background: #b2ffc0
    --accent-color: #23d160
    --accent-text-color: white
.color3
    --background: #ffed74
    --accent-color: #ffdd57
    --accent-text-color: var(--black-text)
.color4
    --background: #ffdfff
    --accent-color: #c36fcb
    --accent-text-color: white
::ng-deep bung-card .card-content-wrapper
    padding: 2em
::ng-deep bung-card .card-header
    background: linear-gradient(to right, transparent 50%, var(--background) 100%)
p.sub-name
    margin-bottom: 0 // Asphyxia fix
    font-size: 0.75em
    font-weight: normal
    letter-spacing: 1px
    text-transform: uppercase
    opacity: 0.7
.rb-list
    display: flex
    flex-direction: column
    gap: 2em
@media screen and (width < 768px)
    ::ng-deep bung-card .card-content-wrapper
        padding: 0.5em
    p.main-name
        font-size: 1rem !important
    .rb-list
        gap: 2.5em
        padding-bottom: 2em

@media (prefers-color-scheme: dark)
    .color0
        --background: #1a0909
        --accent-color: #c35155
    .color1
        --background: #000925
        --accent-color: #0f81cc
    .color2
        --background: #001100
        --accent-color: #1ca64c
    .color3
        --background: #110900
        --accent-color: #ffd324
    .color4
        --background: #1a001d
        --accent-color: #a559ac
