:host
    display: block
bung-tabs.has-error.leave
    opacity: 0
    transition: opacity var(--animation-duration-lv3) var(--ease-in)
.performance-two-columns
    margin-top: 2em
    display: flex
    flex-direction: row
    flex-wrap: wrap
    gap: 2em

    > *
        flex: 1
        flex-basis: 44em
.rb-classcheck-list-two-columns
    display: flex
    flex-direction: row
    flex-wrap: wrap
    gap: 2em

    > *
        flex: 1
        flex-basis: 44em
    .centered-vertical
        display: flex
        flex-direction: column
        justify-content: center
    .rb-dojo
        display: flex
        flex-direction: column
        align-items: stretch
        justify-content: center
        gap: 2em

.stat-grid
    margin-bottom: 1.5em

.stat-item > *
    &.heading.rb
        opacity: 0.83
    bung-icon
        display: inline-flex
        vertical-align: middle
.stat-item.rb-chart > *
    color: var(--rb-chart-color)

.is-skill-point.is-rb5
    &.is-tier0
        color: var(--text-color)
    &.is-tier1
        color: #92cd20
    &.is-tier2
        color: #2ECC71
    &.is-tier3
        color: #F7DC6F
    &.is-tier4
        color: #D5D016
    &.is-tier5
        color: #5DADE2
    &.is-tier6
        color: #3F7CDA
    &.is-tier7
        color: #e67e22
    &.is-tier8
        color: #FF3860
    &.is-tier9
        color: #A766A0
    &.is-tier10
        color: #380dd4
.is-skill-point.is-rb6
    &.is-tier0
        color: #84522d
    &.is-tier1
        color: #66cc66
    &.is-tier2
        color: #f2c40b
    &.is-tier3
        color: #209cee
    &.is-tier4
        color: #3273dc
    &.is-tier5
        color: #231fc2
    &.is-tier6
        color: #e67e22
.rb-list
    display: grid
    align-items: stretch
    justify-content: center
    gap: 2em
    grid-auto-flow: row
    grid-template-columns: repeat(auto-fill, minmax(min(44em, 100%), 1fr))
.classcheck-wrapper
    display: grid
    grid-template: 1fr / 1fr

    > *
        grid-area: 1 / 1
.rb-classcheck-list
    display: flex
    flex-direction: column
    align-items: stretch
    justify-content: center
    gap: 2em

    > *
        grid-area: 1 / 1
// .serif
//     font-family: serif
bung-tabs::ng-deep li.tab a:has(.dojo)
    padding-top: 0
    padding-bottom: 0
p.dojo
    font-size: 0.75em
    opacity: 0.7
    line-height: 1.1em
    text-align: center
    margin-bottom: 0 // asphyxia fix
.rb-background-test
    background: var(--rb-background)
    width: 12em
    height: 4em
    margin: 1em 0
    border-radius: 8px
// auto-load-panel
//     min-height: 90vh

rb-level-display-switch.enter
    animation: rb-floated-level-display-switch-enter-animation var(--animation-duration-lv3) var(--ease-in)
rb-level-display-switch.leave
    animation: rb-floated-level-display-switch-enter-animation var(--animation-duration-lv3) var(--ease-out) reverse


@keyframes rb-floated-level-display-switch-enter-animation
    from
        transform: translateX(10em)
    to
        transform: none
@media (width < 768px)
    bung-divider:not(.music-records-divider)
        margin: 0.5em 0
    .stat-grid
        margin-bottom: 0.5em

    .rb-list:not(.is-mobile), .rb-classcheck-list, .rb-classcheck-list-two-columns, .rb-classcheck-list-two-columns .rb-dojo
        gap: 0.5em
    .performance-two-columns
        margin-top: 0.5em
        gap: 0.5em