:host
    display: inline-flex
    flex-direction: column
    width: 8.5em

:host .music
    display: flex
    flex-direction: column
    padding: 0.75em
    gap: 0.75em
    margin-bottom: -8px
    z-index: 1

    &.is-selected
        // background: color-mix(in srgb, var(--accent-color) 10%, var(--card-background))
        box-shadow: 2px 3px 6px color-mix(in srgb, var(--accent-color), transparent 70%), 0 0 0 1px color-mix(in srgb, var(--accent-color), transparent 30%), -2px -4px 8px color-mix(in srgb, var(--accent-color), transparent 70%)
:host figure.jacket
    margin: 0
    min-width: 7em
    min-height: 7em
    width: 7em
    height: 7em
    border-radius: 8px
    overflow: clip
    user-select: none

    img
        aspect-ratio: 1 / 1
.music-info
    display: flex
    position: relative
    flex-direction: column
    overflow-x: hidden

    .music-title
        font-weight: bold
    rb-music-title
        width: 100%
    .music-artist
        opacity: 0.7
    .charts-level
        opacity: 0.7
    .chart-name
        color: var(--rb-chart-color)
    rb-level:not(:first-child)
        margin-left: 0.5em
.extra-content
    width: 100%
    min-height: 8px
.placeholder
    opacity: 0
    user-select: none
    pointer-events: none

:host.is-compact
    flex-direction: row
    width: 100%
    height: 5em
    .music
        flex: 1
        flex-direction: row
        min-width: 0
        margin-bottom: 0
        margin-right: -8px
    figure.jacket
        min-width: 3.5em
        width: 3.5em
        min-height: 3.5em
        height: 3.5em
    .extra-content
        flex: 0
        writing-mode: vertical-rl
        transform: rotate(180deg)