:host
    display: block
    margin: -1.5rem // Asphyxia CORE default page padding
    padding: 1.5rem
    margin-bottom: calc(-16vh + 2em)
    padding-bottom: 16vh
    overflow: clip
.large-card
    min-height: max(33.33vh, 20rem)
    position: relative

.bg-container
    position: absolute
    inset: -3rem
    pointer-events: none
    user-select: none
    z-index: 0
    opacity: 0

.bg
    position: absolute
    inset: 0
    width: 100%
    height: 100%
    object-fit: cover
    filter: blur(2vh)
    opacity: 0.4

    &.is-rb1
        object-position: center 45%
    &.is-rb2
        object-position: center 48%
    &.is-rb3
        object-position: center 48%
    &.is-rb4
        object-position: center 50%
        opacity: 0.3
    &.is-rb5
        object-position: center 50%
        opacity: 0.35
    &.is-rb6
        object-position: center 50%
.player-card-container
    position: absolute
    display: grid
    grid-template: 1fr auto / auto
    inset: 0
    overflow: clip
    align-items: end
.player-card-content
    grid-area: 1 / 1
    display: flex
    padding: 2em
    gap: 1em
    overflow: clip
    z-index: 1

    &.enter
        opacity: 0

    &.error-info-content
        position: absolute
        left: 0
        bottom: 0

    > *
        z-index: 1

.player-card-content.visible.enter, .bg-container.visible.is-loaded, .rb-nav-buttons.visible.enter
    animation: player-card-content-enter-animation var(--animation-duration-lv2) var(--animation-duration-lv2) var(--ease-in) forwards
.player-card-content.visible.leave, .bg-container.visible.leave, .rb-nav-buttons.visible.leave
    animation: player-card-content-leave-animation var(--animation-duration-lv2) var(--ease-in)

.name-grid
    display: grid
    grid-template: auto auto auto / auto 1fr
.user-id
    grid-area: 1 / 1
    opacity: 0.7
.name
    grid-area: 2 / 1
    display: grid
    grid-template: 1fr / 1fr
    font-weight: bold

    &.rb3-player-event-level1
        color: #660DDCB2
    &.rb3-player-event-level2
        color: #E70DA7B2
    &.rb3-player-event-level3
        color: #00C4E0B2
    &.rb3-player-event-level4
        color: #EE5E00B2
    &.rb3-player-event-level5
        color: #00009EB2

    > *
        grid-area: 1 / 1

    span
        transition: opacity var(--animation-duration-lv3) var(--ease-in)

    .claudia
        opacity: 0
        transition: color var(--animation-duration-lv3) var(--ease-in)
        animation: claudia-enter-animation var(--animation-duration-lv3) var(--ease-in) forwards
    .claudia.leave
        animation: claudia-leave-animation var(--animation-duration-lv3) var(--ease-in) forwards

    &.claudia-abnormal
        span
            opacity: 0
            user-select: none
            pointer-events: none
rb-byword-tag
    grid-area: 2 / 2
    opacity: 0.7
    margin-left: 1em
.comment
    grid-area: 3 / span 2
bung-divider
    flex: 0
.player-badges
    grid-area: 3 / span 2
    display: flex
    justify-content: start
    align-items: stretch
    gap: 1em
    opacity: 0.9

    .class .has-character-count-2
        font-size: 1.5rem
    .class .has-character-count-3, .class .has-character-count-4
        font-size: 1rem
        white-space: normal
.player-badge
    display: grid
    grid-template: auto 1fr / 1fr
    padding: 0.5em
    width: 4em
    background: color-mix(in srgb, var(--card-background) 40%, transparent 60%)
    white-space: nowrap
    .heading
        grid-area: 1 / 1
    .title
        grid-area: 2 / 1
        align-self: center

.session
    display: grid
    grid-template: 1fr / 1fr
    position: relative
    height: 4em
    align-self: center
    align-content: center
    justify-items: center
    border-radius: 9999px
    cursor: pointer

    &::after
        content: ""
        position: absolute
        inset: 0
        border-radius: 9999px
        background: #7773
        opacity: 0
        transition: opacity var(--animation-duration-lv3) var(--ease-in)

    .title
        grid-area: 1 / 1
        margin: 0
        opacity: 0
        transition: opacity var(--animation-duration-lv3) var(--ease-in)

        > *
            grid-area: 1
        
        &.show
            opacity: 1

        &.session-on
            animation: session-icon-animation var(--animation-duration-lv1) var(--ease-in) alternate infinite
    .delete
        position: absolute
        right: 0
        top: 0
        opacity: 0
        transition: opacity var(--animation-duration-lv3) var(--animation-duration-lv3) var(--ease-in)
        z-index: 2

        &[disabled]
            user-select: none
            pointer-events: none
    
    .loader
        grid-area: 1 / 1
        align-self: center
        font-size: 1.5em
        opacity: 0

    &:hover::after
        opacity: 1

    &:hover .delete:not([disabled])
        opacity: 1
    
    &.is-killing
        .title
            opacity: 0
        .loader
            opacity: 1
.session-icon-tooltip
    max-width: 20em
.session-icon-killed-tooltip
    max-width: 12em

rb-matching-grade
    display: flex
    justify-content: center
.comment
    opacity: 0.7
.error-info
    display: flex
    align-items: center
    gap: 1em
.rb-nav
    grid-area: 2 / 1
    display: grid
    grid-template: 1fr / 1fr auto
    margin-top: -2em
    padding: 2em
    align-items: center
    gap: 2em
    z-index: 1
.rb-nav-container
    grid: 1 / 1
    flex: 1
    flex-shrink: 1
    min-width: 0
    display: grid
    grid-template: 1fr / 1fr
.rb-nav-buttons
    grid-area: 1 / 1
    margin: 0
    flex-wrap: nowrap

    &.enter
        opacity: 0
.rb-nav-item
    background: color-mix(in srgb, var(--card-background), transparent 40%)
    margin: 0
    transition: background var(--animation-duration-lv3) var(--ease-in), color var(--animation-duration-lv3) var(--ease-in), border-color var(--animation-duration-lv3) var(--ease-in), box-shadow var(--animation-duration-lv3) var(--ease-in)

    ::ng-deep bung-icon .icon-svg svg .icon-fill
        transition: fill var(--animation-duration-lv3) var(--ease-in)
    &.is-selected
        background: color-mix(in srgb, var(--accent-color), transparent 40%)
        color: var(--accent-text-color)

        ::ng-deep bung-icon .icon-svg svg .icon-fill
            fill: var(--accent-text-color) !important

rb-version
    grid-area: 1 / 2

@media (prefers-color-scheme: dark)
    .name-and-byword .name
        &.rb3-player-event-level1
            color: #986ecdb2
        &.rb3-player-event-level2
            color: #c372abb2
        &.rb3-player-event-level3
            color: #72acb5b2
        &.rb3-player-event-level4
            color: #de7e3fb2
        &.rb3-player-event-level5
            color: #6868deb2
    .rb-nav-item ::ng-deep bung-icon .icon-svg svg .icon-fill
        fill: var(--title-white-text) !important
@media screen and (width < 768px)
    :host
        margin-bottom: calc(-16vh + 0.5em)
    .player-card-content
        flex-direction: column
        padding: 1em
        gap: 0.5em
    .large-card
        min-height: max(25vh, 16rem)
        padding: 0.5em 1em
        .player-card-container > :not(.rb-nav)
            font-size: 0.75em

        .name
            font-size: 1.5rem !important

        .tag
            font-size: 0.75em
    .name-grid
        grid-auto-flow: row
    .player-badges
        grid-area: 4 / 1
        align-items: stretch
        gap: 1em

        .heading
            font-size: 0.75em
            margin: 0
        .title
            font-size: 1.5em

        .class .has-character-count-2, .class .has-character-count-3, .class .has-character-count-4
            font-size: 1em
    .rb-nav
        margin-top: -0.75em
        padding: 0.75em
        gap: 0.75em

    // .rb-nav-item
    //     padding: 1em

    // rb-version
    //     padding: 1em
@keyframes player-card-content-enter-animation
    from
        opacity: 0
        transform: translateX(4rem)
    to
        opacity: 1
        transform: none
@keyframes player-card-content-leave-animation
    from
        opacity: 1
        transform: none
    to
        opacity: 0
        transform: translateX(-4rem)
@keyframes claudia-enter-animation
    from
        opacity: 0
    to
        opacity: 1
@keyframes session-icon-animation
    from
        transform: translateY(0.03em)
    to
        transform: translateY(-0.12em)
