<div class="large-card card">
    @let p = profile();
    <div class="player-card-container">
        @if (p) {
            @for (v of fakeVersionArray(); track v.version) {
                <div class="player-card-content" animate.enter="enter" animate.leave="leave">
                    <!-- @if (p.version === 6) {
                        <div class="characard">
                        </div>
                    } @else if (p.version !== 1) {
                        <div class="user-icon">
                        </div>
                    } -->
                    <div class="name-grid">
                        <div class="user-id">RB-{{ p.userId.toString().substring(0, 4) }}-{{ p.userId.toString().substring(4, 8) }}</div>
                        @if (p.bywords) {
                            <rb-byword-tag [leftByword]="p.bywords!.left" [rightByword]="p.bywords!.right" />
                        }
                        @let rb3EventLevel = p.version === 3 ? toRb3PlayerEventLevel(p.extraValues?.[1]) : 0;
                        <div class="name is-size-2 {{ p.version === 3 ? `rb3-player-event-level${rb3EventLevel}` : ''}}">
                            {{ p.name }}
                        </div>
                        <div class="comment">
                            <p>"{{ p.comment || (profile()?.version | rbDefaultComment) }}"</p>
                        </div>
                    </div>
                    <bung-divider [isVertical]="!breakpointService.breakpointsToggled.mobile()" />
                    <div class="class-and-mg">
                        @let cn = className();
                        @if (cn) {
                            <div class="class card has-text-centered">
                                <div class="heading">
                                    @if (profile()?.version === 4) {
                                        道場
                                    } @else if (cn !== "極") {
                                        Class
                                    }
                                </div>
                                <div class="title {{ profile()?.version === 4 ? `has-character-count-${cn.length}` : undefined }}">{{ cn }}</div>
                            </div>
                        }
                        <div class="mg card has-text-centered">
                            <div class="heading">Grade</div>
                            <div class="title">
                                <rb-matching-grade [version]="profile()!.version" [matchingGrade]="profile()!.matchingGrade" />
                            </div>
                        </div>
                    </div>
                </div>
            }
        } @else if (!isLoading()) {
            <div class="player-card-content error-info-content" animate.enter="enter" animate.leave="leave">
                <div class="error-info">
                    <div class="error-icon">
                        <span class="icon is-large">
                            <i class="mdi mdi-alert-circle mdi-48px"></i>
                        </span>
                    </div>
                    <div class="error-text">
                        <p>No profile found.</p>
                        <p>Maybe navigate to another game version?</p>
                    </div>
                </div>
            </div>
        }
        <div class="rb-nav">
            <!-- <div class="rb-nav-container">
                <a class="rb-nav-item">
                    <bung-icon icon="account-circle">Play Data</bung-icon>
                </a>
                <a class="rb-nav-item">
                    <bung-icon icon="cog">Settings</bung-icon>
                </a>
            </div> -->
            <div class="rb-nav-container">
                @if (p) {
                    <div class="buttons has-addons rb-nav-buttons" animate.enter="enter" animate.leave="leave">
                        <button class="button rb-nav-item" [class.is-small]="breakpointService.breakpointsToggled.mobile()" [class.is-selected]="subpageIndex() === 'playData'" (click)="onNavToSubpage('playData')"><bung-icon icon="account-circle">Play Data</bung-icon></button>
                        <button class="button rb-nav-item" [class.is-small]="breakpointService.breakpointsToggled.mobile()" [class.is-selected]="subpageIndex() === 'settings'" (click)="onNavToSubpage('settings')"><bung-icon icon="cog">Settings</bung-icon></button>
                    </div>
                }
            </div>
            <rb-version animate.enter="enter" animate.leave="leave" />
        </div>
    </div>
    @if (p) {
        @for (v of fakeVersionArray(); track v.version) {
            <div class="bg-container" animate.enter="enter" animate.leave="leave">
                <img class="bg is-rb{{ p.version }}" [class.is-loaded]="isImageLoaded()" [src]="`static/assets/images/bg/rb${p.version}.png`" (load)="onImgLoaded()">
            </div>
        }
    }
</div>
