rythem-icon
    display: inline-block
    width: 1.5em
    height: 1.5em
    .icon-body
        animation: elastic-animation var(--body-duration)

@keyframes elastic-animation
    0%
        transform: scale(0.9)
        animation-timing-function: cubic-bezier(0.625, -0.005, 0.440, 1.000)
    12.5%
        transform: scale(1.1)
        animation-timing-function: cubic-bezier(0.625, -0.005, 0.440, 1.000)
    25%
        transform: scale(1)
    94%
        transform: scale(1)
        animation-timing-function: cubic-bezier(0.625, -0.005, 0.440, 1.000)
    100%
        transform: scale(0.9)