:host
    display: flex
    
.rb-panel
    flex: 1
    display: flex
    position: relative
    padding: 1.25em
    gap: 1.25em
    z-index: 1
    transition: box-shadow var(--animation-duration-lv2) var(--ease-in)

    &.is-selected
        box-shadow: 0 2px 3px color-mix(in srgb, var(--palette-color2), transparent 90%), 0 0 0 1px color-mix(in srgb, var(--palette-color1), transparent 90%), -2px -4px 8px color-mix(in srgb, var(--palette-color3), transparent 90%)
.empty
    flex: 1
.glass-image
    width: 5em
    height: 5em
    margin: 0 // Asphyxia fix

    bung-insertion, ::ng-deep svg
        height: 100%
        justify-content: center
.glass-info
    flex: 1
    display: grid
    grid-template: auto 1fr / 1fr
    grid-auto-flow: row
    min-width: 0

    .glass-name
        font-weight: bold
        min-width: 0
.glass-progress
    align-self: center
    opacity: 0.5
    white-space: nowrap
.select-button
    display: grid
    grid-template: 1fr / 1fr
    width: 4em
    height: auto
    margin-left: -1em
    padding-left: 0
    padding-right: 1em
    justify-items: center
    border-radius: 8px
    background: var(--palette-color2)
    transform: rotate(180deg)
    transition: background var(--animation-duration-lv3), color var(--animation-duration-lv3), border var(--animation-duration-lv3), opacity var(--animation-duration-lv3), box-shadow var(--animation-duration-lv3), width var(--animation-duration-lv2) var(--ease-in)
    writing-mode: vertical-lr
    color: var(--palette-text)

    &:not([disabled]):hover
        width: 5em
        background: color-mix(in srgb, var(--palette-color2) 90%, var(--card-background))
    &:not([disabled]):active, &:not([disabled]).is-active
        width: 5em
        background: color-mix(in srgb, var(--palette-color2) 80%, var(--card-background))
    &.is-focused, &:focus
        border-color: color-mix(in srgb, var(--palette-color2) 85%, white)
    &.is-focused:not(:active):not([disabled]), &:focus:not(:active):not([disabled])
        box-shadow: 0 0 0 0.125em color-mix(in srgb, transparent 75%, var(--palette-color2))
    &.is-loading::after
        left: calc(50% - 1em)
        border-color: transparent transparent var(--palette-text) var(--palette-text)
    bung-icon
        grid-area: 1 / 1

        &.enter
            animation: button-content-enter-animation var(--animation-duration-lv3) var(--ease-in)
        &.leave
            animation: button-content-enter-animation var(--animation-duration-lv3) var(--ease-out) reverse forwards

    ::ng-deep .icon-element
        rotate: 90deg
.error-info
    display: flex
    padding: 1em
    gap: 1em
    align-items: center
    justify-content: center
    opacity: 0.3
@keyframes button-content-enter-animation
    from
        opacity: 0
    to
        opacity: 1
@media screen and (width < 768px)
    .rb-panel
        padding: 0.5em
        gap: 0.5em
    .glass-image
        width: 4em
        height: 4em
    .glass-name
        font-size: 1em !important
    .glass-progress
        font-size: 0.75em
    .select-button
        font-size: 0.75em
        width: 3em

        &:not([disabled]):hover, &:not([disabled]):active, &:not([disabled]).is-active
            width: 4em
    .select-button.is-focused, .select-button:focus
        border-color: color-mix(in srgb, var(--palette-color2) 50%, white)
