button[bungFloatButton]
    border-radius: 9999px
    overflow: clip
    box-shadow: 0 6px 8px var(--card-shadow-color), 0 0 0 1px var(--card-shadow-color)
    user-select: auto
    pointer-events: all

    &::before
        content: ""
        position: absolute
        inset: 0
        background: var(--invert-card-background)
        opacity: 0
        transition: opacity var(--animation-duration-lv3) var(--ease-in)
        z-index: 2
    
    &.hide
        display: none !important

    &:focus:not(:active):not(:hover)
        box-shadow: 0 8px 12px var(--card-shadow-color), 0 0 0 1px var(--card-shadow-color)
    &:hover:not(:active)
        box-shadow: 0 10px 14px var(--card-shadow-color), 0 0 0 1px var(--card-shadow-color)

        &::before
            opacity: 0.05
    &:active
        box-shadow: 0 4px 8px var(--card-shadow-color), 0 0 0 1px var(--card-shadow-color)

        &::before
            opacity: 0.1
