bung-field
    display: block
    
    label bung-insertion
        position: relative
        display: inline-grid
    label bung-insertion::before
        position: absolute
        content: "●"
        right: -1em
        opacity: 0
        transition: opacity var(--animation-duration-lv3) var(--ease-in)
    label.is-dirty bung-insertion::before
        opacity: 1
    &.is-fullwidth .control
        width: 100%
    p.help
        color: var(--bulma-color, var(--text-color))