<div class="field-label is-normal">
    <label class="label" [class.is-dirty]="formField()?.()?.dirty() || isDirty()">
        @if (formField()?.()?.required()) { * }
        <bung-insertion [content]="label()" [context]="labelContext()" />
    </label>
</div>
<div class="field-body">
    <div class="control">
        <ng-content />
        @if (help()) {
            <p class="help">
                <bung-insertion [content]="help()" [context]="helpContext()" />
            </p>
            @for (error of formField()?.()?.errors(); track error) {
                <p class="help is-danger">
                    {{ error.message }}
                </p>
            }
        }
    </div>
</div>