:host
    display: inline-block
    position: relative
    font-size: 1em
    padding:0 0.5em
    margin: 0 -0.8em
    background: #FF3FB9D5 !important
    color: white !important
    transform: skewX(-14deg) scale(0.6)
    