@let q = quest();
@let slots = q.questType === 2 ? 1 : 3;
<div class="card rb-panel color{{ q.dungeon.element }}" [style.--quests-slots]="slots">
    <div class="quest-info">
        <bung-marquee class="quest-name is-size-4" content="{{ q.dungeon | rbText : 'dungeonName' }}" [spacing]="72" [delay]="1500" />
    </div>
</div>
<div class="quest-diffculties-container" [style.--quests-slots]="slots">
    @for (t of slots | range; track t) {
        <div class="card score wide rb-panel" [class.disabled]="!q.records[t]" [rbChartType]="q.questType === 2 ? 3 : t" [version]="6" bungBreakpoint="mobile" (click)="onShowPopup(t)">
            <p class="chart-name is-size-7 heading">
                {{ q.questType === 2 ? "Challenge" : (t | rbChartTypeLiteral : 6) }}
            </p>
            <p class="chart-score {{ q.records[t] ? 'is-size-4' : 'is-size-7' }}">
                <span>{{ q.records[t]?.score ?? "\<Not Played\>" }}</span>
            </p>
            <div class="hover-background"></div>
        </div>
    }
</div>