@use "../rb-chart-light-shared.sass"
rb-chart-light-badge
    position: relative
    display: block
    width: 1em
    height: 1em

    *
        position: absolute
        inset: 0
        border-radius: 9999px
