<div class="chart-light-container blur">
    <div class="background {{ clearType() }}" [rbChartType]="chartType()" [version]="version()"></div>
</div>
<div class="chart-light-container">
    <div class="background {{ clearType() }}" [rbChartType]="chartType()" [version]="version()"></div>
</div>
<div class="chart-light-container">
    <div class="chart-light-container text-container">
        <!-- <span class="text {{ clearType() }}" [rbChartType]="chartType()" [version]="version()">{{ clearTypeName() }}</span> -->
    </div>
</div>