rb-music-title, rb-music-title .label-7, rb-music-title .label-777
    display: inline-block
    position: relative
    
    .star
        position: absolute
        top: -0.4em
        left: -0.2em
        transform: scale(0.5)
    .t-7
        transform: scaleY(0.8) translateY(0.15em)