<ng-template #placeholder>
    <div class="rb-panel"></div>
</ng-template>
@if (service.isActivated() && !service.data.isLoading() && service.data.value()) {
    <div class="rb-list">
        @for (yurukome of service.data.value(); track yurukome.id) {
            <bung-insertion isVirtualized [placeholder]="placeholder" sharedIntersectionGroup="rb-panel">
                <rb5-yurukome-panel [yurukome]="yurukome" animate.enter="rb-panel-enter" animate.leave="rb-panel-leave" />
            </bung-insertion>
        }
    </div>
    <bung-divider class="section-divider" prompt="End of Pastel-kun's Casual Comments" />
    <rb-lang-switch />
    <return-to-top-button />
}
