.rb-list
    display: grid
    align-items: stretch
    justify-content: center
    gap: 2em
    grid-auto-flow: row
    grid-template-columns: repeat(auto-fill, minmax(min(48em, 100%), 1fr))
bung-divider
    margin-top: 2em

@media screen and (width < 768px)
    .rb-list
        gap: 0.5em
    bung-divider
        margin-top: 0.5em
