@if (hasMasterJudge()) { <div class="buff-icon" bungTooltip="MASTER JUDGE!" ><bung-icon icon="emoticon-devil" /></div> }
@if (hasJrInfMode()) { <div class="buff-icon" bungTooltip="All golden object shoot to you is JUST REFLEC" ><bung-icon iconUrl="static/assets/icons/reflesia-buff-jrinf.svg" /></div> }
@if (hasGreatAsGood()) { <div class="buff-icon" bungTooltip="GREAT judge will turn to GOOD" ><bung-icon icon="thumb-down" /></div> }
@if (hasOnlyJrDamage()) { <div class="buff-icon" bungTooltip="Only JUST REFLEC can deal damage to rival" ><bung-icon iconUrl="static/assets/icons/reflesia-buff-only-jr-damage.svg" /></div> }
@if (hasRivalJrGreatDamage()) { <div class="buff-icon" bungTooltip="You will get hurt very bad if you missed rival's JUST REFLEC" ><bung-icon iconUrl="static/assets/icons/reflesia-buff-rival-jr-great-damage.svg" /></div> }
@if (hasNoTopColor()) { <div class="buff-icon" bungTooltip="TOP objects colored as same as normal objects" ><bung-icon iconUrl="static/assets/icons/reflesia-buff-no-top-color.svg" /></div> }
@if (hasLowSpeed()) { <div class="buff-icon" bungTooltip="Hi-speed will be locked to 1.0x" ><bung-icon icon="tortoise" /></div> }
@if (hasNoRecovery()) { <div class="buff-icon" bungTooltip="HP recovery disabled" ><bung-icon iconUrl="static/assets/icons/reflesia-buff-no-recovery.svg" /></div> }
