@let music = stageLog().music;
@let chart = stageLog().chart;
@let color = stageLog().color;
<div class="card music-card" [rbChartType]="chart.chartType" [version]="4">
    <figure class="jacket">
        <img [src]="(music.musicUid | rbJacket : chart.chartType)()">
    </figure>
    <div class="stage-info">
        <div class="info-label round-label">ROUND</div>
        <div class="info-value stage-index">{{ stageLog().stageIndex | rbStageIndex : 4 }}</div>
    </div>
    <div class="title-info">
        <div class="info-label title-label">MUSIC</div>
        <div class="info-value music-title">
            <rb-music-title [music]="music" [variation]="chart.variation" />
        </div>
    </div>
    <div class="artist-info">
        <div class="info-label artist-label">ARTIST</div>
        <div class="info-value music-artist">
            <bung-marquee class="artist-value" [content]="chart.variation?.artist ?? music.artist" [delay]="1500" />
        </div>
    </div>
    <div class="clear-info">
        @if (stageLog().clearType && stageLog().clearType !== "f") {
        <div class="clear-label">
            <span class="ca">C</span>
            <span class="l">L</span>
            <span class="e">E</span>
            <span class="ca">A</span>
            <span class="r">R</span>
            <span class="l">!!</span>
        </div>
        } @else {
        <div class="failed-label">
            <span class="fe">F</span>
            <span class="ad">A</span>
            <span class="i">I</span>
            <span class="l">L</span>
            <span class="fe">E</span>
            <span class="ad">D</span>
            <span class="fe">.</span>
            <span class="i">.</span>
            <span class="ad">.</span>
        </div>
        }
    </div>
    <div class="chart-level-info">
        <div class="chart-info">
            <div class="info-label chart-label">DIFFICULTY</div>
            <div class="info-value chart-type">{{ chart.chartType | rbChartTypeLiteral : 4 | uppercase }}</div>
        </div>
        <div class="level-info">
            <div class="level-label">LEVEL</div>
            <rb-level [version]="4" [level]="chart.level" />
        </div>
    </div>
</div>
<div class="card your-result" [rbColor]="color">
    <div class="you-label">You</div>
    <div class="score-info box">
        <div class="score">
            <div class="score-label">Score</div>
            <div class="score-value">
                {{ stageLog().score }}
                @if (stageLog().score > stageLog().rivalScore) {
                <i class="winner-icon mdi mdi-crown"></i>
                }
            </div>
        </div>
        <div class="ar">
            <div class="ar-label">Achievement Rate</div>
            <div class="ar-value">
                <div class="ar-integer">{{ stageLog().achievementRate | trunc }}.</div>
                <div class="ar-decimal">{{ stageLog().achievementRate | decimalPart : 2 }}%</div>
            </div>
        </div>
        <div class="rank">
            <div class="rank-label">Rank</div>
            <rb-rank [version]="4" [achievementRate]="stageLog().achievementRate" isVisible />
        </div>
    </div>
</div>
<div class="card rival-result" [rbColor]="color" isRival>
    <div class="rival-label">Rival</div>
    <div class="score-info box">
        <div class="rival-name">
            <rb-player [version]="4" [name]="stageLog().rivalUserName" [cpuId]="stageLog().rivalCpuId" [color]="stageLog().color" isRival isHideMatchingGrade isShowCompleteName />
        </div>
        <div class="score">
            <div class="score-label">Score</div>
            <div class="score-value">
                {{ stageLog().rivalScore }}
                @if (stageLog().score < stageLog().rivalScore) {
                  <i class="winner-icon mdi mdi-crown"></i>
                    }
            </div>
        </div>
    </div>
</div>

<div class="card result-details">
    <rb-stage-log-judge-grid [stageLog]="stageLog()" />
</div>