.music-card.card
    position: relative
    display: flex
    width: 48em
    padding: 1.25em
    justify-content: start
    gap: 1.25em
    margin-bottom: 1.25em

    .jacket
        width: 12em
        height: 12em

        img
            border-radius: 8px
    .music-info
        flex: 1
        display: flex
        flex-direction: column
        justify-content: center
        align-items: start
        gap: 0.5em
    .info-label
        font-size: 0.75em
        color: var(--rb-chart-color)
    .info-value
        border-bottom: 1px var(--text-color) dashed
    .stage-info
        display: flex
        gap: 0.5em

        .stage-index
            color: #ff3fb9
    .clear-info
        position: absolute
        font-size: 3em
        font-weight: bold
        right: calc(1.25em / 3)
        bottom: calc(1.25em / 3)

        .failed-label
            .fe
                color: #2ea5ee
            .ad
                color: #6abce6
            .i
                color: #e8b723
            .l
                color: #ad7ccd
        .clear-label
            .cr
                color: #ff92c2
            .l
                color: #ed58cf
            .e
                color: #70c740
            .a
                color: #f1ac17
    .chart-level-info
        grid-area: 3 / 3
        display: flex
        width: 100%
        overflow: clip
        .chart-type
            padding-right: 10em
            font-weight: bold
            color: var(--rb-chart-color)
        .level-info
            display: flex
            height: 100%
            margin-left: -8em
            align-items: baseline
            .level-label
                margin-right: 1em
            .level-value
                font-size: 2em
                font-weight: bold
                color: var(--rb-chart-color)
    rb-music-title, bung-marquee
        max-width: 18em
.your-result.card
    display: grid
    grid-template: 1.5em 1.5em / 6em auto auto 1fr auto auto 1fr auto
    margin-bottom: 1.25em
    padding: 1.25em
    justify-content: start
    align-items: center
    gap: 0.25em 1em

    .you-label
        grid-area: 1 / 1
        text-align: center
        background: var(--rb-color)
        color: white
        border-radius: 9999px
    .your-name
        grid-area: 2 / 1 / 2 / span 2
        display: block
        justify-self: start
        text-align: center
    .score-label
        grid-area: 1 / 2
    .score-value
        grid-area: span 2 / 3
        position: relative
        font-size: 2em
        font-weight: bold
        color: var(--rb-color)
    .ar-label
        grid-area: 1 / 5
    .ar-value
        grid-area: span 2 / 6
        display: flex
        align-items: baseline
        font-weight: bold
        color: var(--rb-color)

        .ar-integer
            font-size: 2em
        .ar-decimal
            font-size: 1.5em
    .rank
        grid-area: span 2 / 8
        display: flex
        flex-direction: column
        align-items: center
        .rank-label
            font-size: 0.75em
            letter-spacing: 0.083em

        rb-rank
            font-size: 2.5em
            font-weight: bold

.rival-result.card
    display: grid
    grid-template: 1.5em 1.5em / 6em 1fr auto auto
    margin-bottom: 1.25em
    padding: 1.25em
    justify-content: start
    align-items: center
    gap: 0.25em 1em

    .rival-label
        grid-area: 1 / 1
        text-align: center
        background: var(--rb-color)
        color: white
        border-radius: 9999px
    .rival-name
        grid-area: 2 / 1 / 2 / span 2
    .score-label
        grid-area: 1 / 3
    .score-value
        grid-area: span 2 / 4
        position: relative
        font-size: 2em
        font-weight: bold
        color: var(--rb-color)
rb-player
    border-radius: 9999px
    overflow: clip
.winner-icon
    color: #FFC911
    position: absolute
    font-size: 1rem
    top: -0.25em
    right: -0.25em
    transform: rotate(30deg)
.result-details
    padding: 1.25em

@media screen and (width < 768px)
    :host
        font-size: 0.75em
    .music-card.card
        width: 40em
    .winner-icon
        font-size: 0.75rem
    .your-result.card
        grid-template: 1.5em 1.5em / 4.8em auto auto 1fr auto auto 1fr auto
    .rival-result.card
        grid-template: 1.5em 1.5em / 4.8em 1fr auto auto
    rb-music-title, bung-marquee
        max-width: 13em
