:host
    display: flex
    justify-content: center
    align-items: center
    pointer-events: none !important

    > *
        pointer-events: all

.modal-body
    display: block
    position: relative
    width: calc(var(--capacity, 3) / 3 * 48em)
    height: unset
    overflow: visible

.background-container
    position: absolute
    inset: 0
    overflow: clip
    border-radius: 8px
    user-select: none
    pointer-events: none
.jackets-background
    display: grid
    grid-template: 1fr / repeat(var(--capacity, 3), 1fr)
    grid-auto-flow: row
    position: absolute
    inset: 0
    bottom: 2em
    filter: blur(8px)
    overflow: clip

    figure
        width: 100%
        height: 100%
        background: var(--card-background)
    img
        width: 100%
        height: max(var(--background-end-height, 0), 100%)
        object-fit: cover
        object-position: center center
    
.modal-card-background
    position: absolute
    inset: 0
    border-top: 0
    background: linear-gradient(to bottom, transparent 5em, var(--card-background) 9em)
    backdrop-filter: blur(8px)
    pointer-events: none

.info-container
    padding: 2em
    padding-top: 6em
    display: flex
    flex-direction: column

    .course-info
        display: grid
        grid-template: 1fr / 1fr auto auto
        gap: 1.25em

    .course-name
        display: flex
        flex-direction: column
        flex-wrap: nowrap
        overflow: hidden
        align-self: center

        .sub-name
            font-size: 1em
            opacity: 0.7
        .main-name
            font-size: 2em
            font-weight: bold
        .chart-type
            color: var(--rb-chart-color)
            opacity: 0.7

    .course-score-info
        display: grid
        grid-template: auto 1.25em 1.25em / 5em 5em
        gap: 0 0.5em
        align-self: center
        z-index: 1

        > *
            font-size: 0.75em
            line-height: 1.25em
        .course-score-info-heading
            grid-area: 1 / span 2
            font-size: 2em
            font-weight: bold
            justify-self: center
        .course-ar, .course-score
            grid-area: 2 / 1
        .course-play-count
            grid-area: 2 / 2
        .course-update
            grid-area: 3 / 1
        .course-last-play
            grid-area: 3 / 2
.course-lamp
    position: relative
    height: 2em
    margin: 2em -2em
    overflow-x: clip

    .course-lamp-wrapper
        width: 100%
        height: 100%
    .course-lamp-background-box
        position: absolute
        inset: 0
    .course-lamp-background
        position: absolute
        inset: 0.25em 0
        background: var(--rb-background, #70707050)

        &.blur
            left: -18px
            right: -18px
            filter: blur(6px)
    .clear-info-wrapper
        height: 100%
        overflow-x: clip
    .clear-info
        position: relative
        display: flex
        height: 100%
        align-items: center
        text-align: center
        font-size: 0.75em
        gap: 0.5em

        &.failed
            .text
                color: white
            .line
                background: white

        .line
            flex: 1
            background: var(--invert-card-background)
            height: 1px
        .line.middle
            min-width: 12em
        .text
            display: flex
            align-items: center
            gap: 0.5em
            color: var(--invert-card-background)
.stage-log-info-wrapper
    display: flex
    gap: 2em
    align-items: stretch
    // margin-bottom: -4em

    .stage-log-container
        flex: 1
        display: flex
        justify-content: center

    .stage-log-animation-wrapper
        width: calc(100% + 4em)
        height: calc(100% + 4em)
        margin: -2em
        padding: 2em
        overflow: clip
    .stage-log-wrapper
        display: grid
        grid-template: auto 1fr auto / minmax(0, 1fr)
        grid-auto-flow: column
        height: 100%
    .stage-index
        display: flex
        height: 2em
        padding-bottom: 8px
        align-items: center
        justify-content: center
        border-radius: 8px 8px 0 0
        text-align: center
    .stage-index:not(.failed)
        background: var(--rb-background)
        background-size: calc(100% * var(--capacity, 3) + calc(var(--capacity, 3) - 1) * 1em) calc(100% + 8px)
        background-position: var(--background-offset, 0) 0
        color: var(--invert-card-background)
    .stage-log-info
        margin-top: -8px
        padding: 1em
        z-index: 1
    .stage-log-info.failed
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center
        > *
            opacity: 0.5
    rb-music-title
        width: 100%
        font-size: 1.25em
        font-weight: bold
    .chart
        display: flex
        flex-wrap: nowrap
        opacity: 0.7

        .chart-name
            color: var(--rb-chart-color)
            margin-right: 0.5em
    .jacket, img
        width: 100%
        overflow: clip
        border-radius: 8px
        aspect-ratio: 1 / 1
    .chart, .artist, .stage-log-score-grid
        font-size: 0.75em

    rb-chart-lamp
        margin-top: -8px
    ::ng-deep rb-chart-lamp .chart-lamp-container
        padding-top: 8px

        .text
            font-size: 0.75em

.has-tooltip
    padding: 0 0.5em
    
@media screen and (width < 768px)
    .modal-body
        width: calc(7.5em * var(--capacity) + 1.5em)
    .modal-card-background
        background: linear-gradient(to bottom, transparent 2em, var(--card-background) 6.75em)
    .info-container
        padding: 0.75em
        padding-top: 4em
    .info-container .course-info
        gap: 0.75em
    .info-container .course-name .main-name, .info-container .course-score-info .course-score-info-heading
        font-size: 1em
    .info-container .course-name .sub-name
        font-size: 0.75em
    .info-container .course-name .chart-type
        font-size: 0.75em
    .info-container .course-score-info
        grid-template: auto auto auto / 5em
    .course-lamp
        margin: 0.75em -0.75em
    .course-lamp .clear-info .line.middle
        min-width: 2em
    .stage-log-info-wrapper
        // margin-bottom: -2.5em
        gap: 0.75em
    .stage-log-info-wrapper .stage-log-info
        padding: 0.75em
    .stage-log-info-wrapper rb-music-title
        font-size: 1em
    .defeated-part2
        display: none
    .course-lamp .course-lamp-background
        inset: 0.5em 0
    rb-chart-lamp, .stage-log-info-wrapper .stage-index
        height: 1.5em
    bung-divider
        font-size: 0.75em

.course-info-in
    transform: translateY(-2em)
    opacity: 0
.course-info-show
    animation: show-course-info 0.4s var(--ease-in) forwards
// .background-container
//     height: 0
.background-show
    animation: show-background 0.4s var(--ease-in) forwards
.jacket-large img
    transform: translateY(-100%)
.jacket-show
    animation: show-jacket 0.4s var(--stage-log-delay) var(--ease-in) forwards
.stage-log-wrapper
    transform: translateY(calc(-100% - 1em - 8px))
.stage-log-show
    animation: show-stage-log 0.4s var(--stage-log-delay) var(--ease-in) forwards
.course-lamp-wrapper
    transform: translateX(calc(-100% - 54px))
.course-lamp-show
    animation: course-clear-lamp-enter 0.4s var(--lamp-delay) var(--ease-in) forwards
.course-lamp-background-box:not(.failed)
    .course-lamp-background
        animation: background-blink 0.1s var(--ease-in) infinite
    .course-lamp-background.blur
        animation: background-blur-blink 0.1s var(--ease-in) infinite
.clear-info
    transform: translateX(calc(100% - 8em))
.course-clear-info-show
    animation: course-clear-info-enter 0.4s var(--lamp-delay) var(--ease-in) forwards
@keyframes show-course-info
    from
        transform: translateY(-6em)
        opacity: 0
    to
        transform: none
        opacity: 1
@keyframes show-background
    from
        height: 0
    99.9999%
        height: var(--background-end-height)
    to
        height: auto
@keyframes show-jacket
    from
        transform: translateY(-100%)
    to
        transform: none
@keyframes show-stage-log
    from
        transform: translateY(calc(-100% - 1em - 8px))
    to
        transform: none
@keyframes background-blink
    from
        opacity: 0.8
        filter: brightness(1.3)
    to
        opacity: 1
        filter: none
@keyframes background-blur-blink
    from
        opacity: 0.8
        filter: brightness(1.3) blur(6px)
    to
        opacity: 1
        filter: blur(12px)
@keyframes course-clear-lamp-enter
    from
        transform: translateX(calc(-100% - 54px))
    to
        transform: none
@keyframes course-clear-info-enter
    from
        transform: translateX(calc(100% - 8em))
    to
        transform: none
