@let v = version();
@let capacity = stageLogs().length > 3 ? 4 : 3;
@let isMobile = breakpointService.breakpointsToggled.mobile();

<ng-template let-stageLog="stageLog" let-stageIndex="stageIndex" #stageResult>
    <div class="stage-log-container">
        <div class="stage-log-animation-wrapper">
            @let stgId = stageLog?.stageIndex ?? stageIndex;
            <div class="stage-log-wrapper stage-log-{{ animationState() }}" [style.--stage-log-delay]="`${0.2 + 0.2 * stgId}s`">
                <div class="stage-index card {{ isCleared() ? `has-rb${v}-background` : '' }}" [class.failed]="!isCleared()" [style.--background-offset]="`calc(${100 / capacity * stgId}% + ${stgId > 0 ? 0.5 : 0}em)`">
                    <span class="is-size-7">ROUND {{ stgId + 1 }}</span>
                </div>
                @if (stageLog) {
                    <div class="stage-log-info card">
                        <figure class="jacket">
                            <img [src]="(stageLog.music.musicUid | rbJacket : stageLog.chartType)()" />
                        </figure>
                        <rb-music-title [music]="stageLog.music" [variation]="stageLog.chart.variation" />
                        <bung-marquee class="artist" [content]="stageLog.chart.variation?.artist ?? stageLog.music.artist" [delay]="1500" #artistMarquee />
                        @let chartName = stageLog.chart.chartType | rbChartTypeLiteral : v;
                        <div class="chart is-{{ chartName | lowercase }}-chart">
                            <div class="chart-name">{{ chartName }}</div>
                            <rb-level [version]="v" [level]="stageLog.chart.level" [skillRate]="stageLog.chart.skillRate" />
                        </div>
                        <bung-divider />
                        <div class="stage-log-score-grid">
                            <bung-icon class="has-tooltip" icon="counter" isNoWrap bungTooltip="Score">{{ stageLog.score }}</bung-icon>
                            <bung-icon class="has-tooltip" icon="percent" isNoWrap bungTooltip="Achievement rate">{{ stageLog.achievementRate.toFixed(2) + "%" }}</bung-icon>
                            @if (v === 6) {
                                <bung-icon class="has-tooltip" iconUrl="static/assets/icons/combo.svg" isNoWrap bungTooltip="Max combo">{{ stageLog.combo }}</bung-icon>
                            }
                            <bung-icon class="has-tooltip" icon="close" isNoWrap bungTooltip="Miss count">{{ stageLog.missCount | rbMissCount }}</bung-icon>
                        </div>
                    </div>
                } @else {
                    <div class="stage-log-info failed card">
                        <i class="mdi mdi-emoticon-dead mdi-48px"></i>
                        <p class="is-size-7">Defeated<span class="defeated-part2"> by the charts</span></p>
                    </div>
                }
                <rb-chart-lamp [version]="v" [chartType]="stageLog?.chartType ?? 0" [clearType]="stageLog?.clearType ?? ''" [customizedText]="!stageLog ? 'FAILED' : undefined" />
            </div>
        </div>
    </div>
</ng-template>
<ng-template let-jacketSrc="jacketSrc" let-stageIndex="stageIndex" #stageJacketBackground>
    <figure class="jacket-large">
        @if (jacketSrc) { <img class="jacket-{{ animationState() }}" [style.--stage-log-delay]="!jacketSrc ? '0s' : `${0.2 + 0.2 * stageIndex}s`" [src]="jacketSrc"> }
    </figure>
</ng-template>

<div class="modal-body" bungBreakpoint="mobile" [style.--capacity]="capacity">
    <div class="background-container background-{{ animationState() }} card" (animationend)="onBackgroundAnimationEnd($event)" #background>
        <div class="jackets-background">
            @for (i of (capacity | range); track i) {
                @let stageLog = stageLogs()[i];
                <ng-container [ngTemplateOutlet]="stageJacketBackground" [ngTemplateOutletContext]="{ jacketSrc: stageLog ? (stageLog.music.musicUid | rbJacket : stageLog.chartType)() : undefined, stageIndex: i }" />
            }
        </div>
        <div class="modal-card-background card"></div>
    </div>
    <div class="info-container">
        <div class="course-info-wrapper course-info-{{ animationState() }}">
            <div class="course-info">
                <div class="course-name">
                    @if (courseNameSub()) {
                        <bung-marquee class="sub-name" [content]="courseNameSub()" [spacing]="60" [delay]="1500" />
                    }
                    <bung-marquee class="main-name" [attr.lang]="courseNameSub() ? 'ja' : undefined" [content]="courseNameMain()" [spacing]="60" [delay]="1500" />
                    @if (chartType()) {
                        <div class="chart-type" [rbChartType]="chartType()!" [version]="v">{{ chartType()! | rbChartTypeLiteral : v }}</div>
                    }
                </div>
                <bung-divider isVertical />
                <div class="course-score-info">
                    <div class="course-score-info-heading has-tooltip" [bungTooltip]="emphasisScore() ? 'Total score' : 'Average achievement rate'">
                        @if (emphasisScore()) {
                            {{ totalScore() }}
                        } @else {
                            {{ averageAchievementRate().toFixed(2) }}%
                        }
                    </div>
                    @if (emphasisScore()) {
                        <bung-icon class="course-ar has-tooltip" icon="percent" bungTooltip="Average achievement rate">{{ averageAchievementRate().toFixed(2) }}%</bung-icon>
                    } @else {
                        <bung-icon class="course-score has-tooltip" icon="counter" bungTooltip="Total score">{{ totalScore() }}</bung-icon>
                    }
                    @if (!isMobile) { <bung-icon class="course-play-count has-tooltip" icon="restart" bungTooltip="Play count">{{ playCount() }}</bung-icon> }
                    <bung-icon class="course-update has-tooltip" icon="update" bungTooltip="Update time">{{ !update() ? "-" : update() | relativeTime }}</bung-icon>
                    @if (!isMobile) { <bung-icon class="course-last-play has-tooltip" icon="clock-time-nine-outline" bungTooltip="Last play">{{ !lastPlay() ? "-" : lastPlay() | relativeTime }}</bung-icon> }
                </div>
            </div>
        </div>
        <div class="course-lamp {{ isCleared() ? `has-rb${v}-background` : '' }}" [style.--lamp-delay]="`${0.6 + 0.2 * capacity}s`">
            <div class="course-lamp-wrapper course-lamp-{{ animationState() }}">
                <div class="course-lamp-background-box" [class.failed]="!isCleared()">
                    <div class="course-lamp-background"></div>
                    <div class="course-lamp-background blur"></div>
                </div>
                <div class="clear-info-wrapper">
                    <div class="clear-info course-clear-info-{{ animationState() }}" [class.failed]="!isCleared()">
                        <div class="line"></div>
                        <div class="text">
                            <span class="clear-info-main" [attr.lang]="clearInfoSub() ? 'jp' : undefined">{{ clearInfoMain() }}</span>
                            @if (clearInfoSub()) {
                                <span class="line middle"></span>
                                <span class="clear-info-sub">{{ clearInfoSub() }}</span>
                            }
                        </div>
                        <div class="line"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="stage-log-info-wrapper">
            @for (i of (capacity | range); track i) {
                @let stageLog = stageLogs()[i];
                <ng-container [ngTemplateOutlet]="stageResult" [ngTemplateOutletContext]="{ stageLog, stageIndex: i }" />
            }
        </div>
    </div>
</div>