@forward "./rb-course-popup.animation.sass"

:host
    display: flex
    overflow: auto
    overflow-y: clip
    pointer-events: none !important
    margin: -0.5em 0
    padding: 0.5em 0

    > *
        margin-left: auto
        margin-right: auto
        pointer-events: all

.modal-body
    display: block
    position: relative
    width: calc(var(--capacity, 3) / 3 * 48em)
    height: unset
    overflow: visible

.background-container
    position: absolute
    inset: 0
    overflow: clip
    border-radius: 8px
    user-select: none
    pointer-events: none
.jackets-background
    display: grid
    grid-template: 1fr / repeat(var(--capacity, 3), 1fr)
    grid-auto-flow: row
    position: absolute
    inset: 0
    bottom: 2em
    filter: blur(8px)
    overflow: clip

    figure
        width: 100%
        height: 100%
        background: var(--card-background)
    img
        width: 100%
        height: max(var(--background-end-height, 0), 100%)
        object-fit: cover
        object-position: center center
    
.modal-card-background
    position: absolute
    inset: 0
    border-top: 0
    background: linear-gradient(to bottom, transparent 5em, var(--card-background) 9em)
    backdrop-filter: blur(8px)
    pointer-events: none

.info-container
    padding: 2em
    padding-top: 6em
    display: flex
    flex-direction: column

    .course-info
        display: grid
        grid-template: 1fr / 1fr auto auto
        gap: 1.25em

    .course-name
        display: flex
        flex-direction: column
        flex-wrap: nowrap
        overflow: hidden
        align-self: center

        .sub-name
            font-size: 1em
            opacity: 0.7
        .main-name
            font-size: 2em
            font-weight: bold
        .chart-type
            color: var(--rb-chart-color)
            opacity: 0.7

    .course-score-info
        display: grid
        grid-template: auto 1.25em 1.25em / 6em 6em
        gap: 0 0.5em
        align-self: center
        z-index: 1

        > *
            font-size: 0.75em
            line-height: 1.25em
        .course-score-info-heading
            grid-area: 1 / span 2
            font-size: 2em
            font-weight: bold
            justify-self: stretch
            text-align: center
        .course-ar, .course-score
            grid-area: 2 / 1
        .course-play-count
            grid-area: 2 / 2
        .course-update
            grid-area: 3 / 1
        .course-last-play
            grid-area: 3 / 2
.course-lamp
    position: relative
    height: 2em
    margin: 2em -2em
    overflow-x: clip

    .course-lamp-wrapper
        width: 100%
        height: 100%
    .course-lamp-background-box
        position: absolute
        inset: 0
    .course-lamp-background
        position: absolute
        inset: 0.25em 0
        background: var(--rb-background, #70707050)

        &.blur
            left: -18px
            right: -18px
            filter: blur(6px)
    .clear-info-wrapper
        height: 100%
        overflow-x: clip
    .clear-info
        position: relative
        display: flex
        height: 100%
        align-items: center
        text-align: center
        font-size: 0.75em
        gap: 0.5em

        &.failed
            .text
                color: white
            .line
                background: white

        .line
            flex: 1
            background: var(--invert-card-background)
            height: 1px
        .line.middle
            min-width: 12em
        .text
            display: flex
            align-items: center
            gap: 0.5em
            color: var(--invert-card-background)
.stage-log-info-wrapper
    display: flex
    gap: 2em
    align-items: stretch
    // margin-bottom: -4em

    .stage-log-container
        flex: 1
        display: flex
        justify-content: center

    .stage-log-animation-wrapper
        width: calc(100% + 4em)
        height: calc(100% + 4em)
        margin: -2em
        padding: 2em
        overflow: clip
    .stage-log-wrapper
        display: grid
        grid-template: auto 1fr auto / minmax(0, 1fr)
        grid-auto-flow: column
        height: 100%
    .stage-index
        display: flex
        height: 2em
        padding-bottom: 8px
        align-items: center
        justify-content: center
        border-radius: 8px 8px 0 0
        text-align: center
    .stage-index:not(.failed)
        background: var(--rb-background)
        background-size: calc(100% * var(--capacity, 3) + calc(var(--capacity, 3) - 1) * 1em) calc(100% + 8px)
        background-position: var(--background-offset, 0) 0
        color: var(--invert-card-background)
    .stage-log-info
        margin-top: -8px
        padding: 1em
        z-index: 1
    .stage-log-info.failed
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center
        > *
            opacity: 0.5
    rb-music-title
        width: 100%
        font-size: 1.25em
        font-weight: bold
    .chart
        display: flex
        flex-wrap: nowrap
        opacity: 0.7

        .chart-name
            color: var(--rb-chart-color)
            margin-right: 0.5em
    .jacket, img
        width: 100%
        overflow: clip
        border-radius: 8px
        aspect-ratio: 1 / 1
    .chart, .artist, .stage-log-score-grid
        font-size: 0.75em

    rb-chart-lamp
        margin-top: -8px
    ::ng-deep rb-chart-lamp .chart-lamp-container
        padding-top: 8px

        .text
            font-size: 0.75em

.has-tooltip
    padding: 0 0.5em
    
@media screen and (width < 768px)
    :host
        padding-left: 0.5em
        padding-right: 0.5em
    .modal-body
        width: 18em
        max-width: 18em
        
    .info-container, .background-container
        margin: 0 1.5em
    .modal-card-background
        background: linear-gradient(to bottom, transparent 2em, var(--card-background) 6.75em)
    .info-container
        padding: 0.75em
        padding-top: 4em
    .info-container .course-info
        gap: 0.75em
    .info-container .course-name .main-name, .info-container .course-score-info .course-score-info-heading
        font-size: 1em
    .info-container .course-name .sub-name
        font-size: 0.75em
    .info-container .course-name .chart-type
        font-size: 0.75em
    .info-container .course-score-info
        grid-template: auto auto auto / 6em
    .info-container .course-score-info, .course-info bung-divider
        display: none

    .course-lamp
        margin: 0.75em -0.75em
    .course-lamp .clear-info .line.middle
        min-width: 2em
    .course-lamp .course-lamp-background
        inset: 0.5em 0
    .clear-info-sub, .line.middle
        display: none
    .stage-log-info-wrapper
        flex-direction: column
        width: 18em
        margin-left: -2.25em
        gap: 0.75em

        .jacket, img
            height: 100%

    .stage-log-info-wrapper .stage-log-info
        display: grid
        grid-template: auto auto auto auto auto / 3.5em 1fr
        padding: 0.75em
        margin: 0 -8px
        max-width: none
        gap: 0 0.75em

        &.failed
            flex-direction: row
            gap: 0.75em
        .jacket
            grid-area: span 3 / 1
        rb-music-title
            grid-area: 1 / 2
            min-width: 0
        .artist
            grid-area: 2 / 2
            min-width: 0
        .chart
            grid-area: 3 / 2
        bung-divider
            grid-area: 4 / span 2
        .stage-log-score-grid
            grid-area: 5 / span 2
    .stage-log-animation-wrapper
        pointer-events: none
    .stage-log-info-wrapper .stage-log-wrapper
        pointer-events: all
        grid-template: auto / 1.5em 1fr 1.5em
        transform: translateX(calc(-100% - 1em - 8px))
    .stage-log-info-wrapper rb-music-title
        font-size: 1em
    .defeated-part2
        display: none
    .stage-log-info-wrapper .stage-index
        height: auto
        padding: 0
        padding-left: 8px
        writing-mode: vertical-rl
        border-radius: 0 8px 8px 0
    .stage-log-info-wrapper ::ng-deep rb-chart-lamp.is-vertical .chart-lamp-container
        padding: 0
        padding-left: 8px
    .stage-log-info-wrapper rb-chart-lamp.is-vertical, .stage-log-info-wrapper .stage-index
        margin-top: 0
        width: 1.5em
    .stage-log-info-wrapper .stage-index
        transform: rotate(180deg)
    .stage-log-score-grid
        display: flex

        > *
            flex: 1
    bung-divider
        font-size: 0.75em

