button[bungFloatButton]
    display: grid
    grid-template: auto auto / auto
    width: 7em
    height: 3em
    font-weight: bold

    span
        grid-area: 2 / 1
        transition: opacity var(--animation-duration-lv3) var(--ease-in)
        margin-top: -0.5em
        z-index: 2
    span.heading
        grid-area: 1 / 1
        font-weight: normal
        margin-top: 0
    span.hide
        opacity: 0
    .mdi-arrow-up-thick
        font-size: 1.25em
@media screen and (width < 768px)
    button[bungFloatButton]
        grid-template: auto / auto
        width: 3em
        height: 3em

        span
            grid-area: 1 / 1
            margin-top: 0