<ng-template #contentTemplate>
    <bung-insertion class="notify-content" [content]="content()" [context]="context()" />
</ng-template>
<ng-template let-data #buttonReturnTemplate>
    <button class="button {{ data?.elementClass }} is-small" [bungReturn]="$safeNavigationMigration(data?.value)">
        <bung-insertion [content]="isSignal($safeNavigationMigration(data?.content)) ? data.content() : $safeNavigationMigration(data?.content)" [context]="isSignal($safeNavigationMigration(data?.context)) ? data.context() : $safeNavigationMigration(data?.context)" />
    </button>
</ng-template>
<ng-template let-data #noButtonReturnTemplate>
    <bung-insertion [class]="data?.elementClass" [content]="isSignal($safeNavigationMigration(data?.content)) ? data.content() : $safeNavigationMigration(data?.content)" [context]="isSignal($safeNavigationMigration(data?.context)) ? data.context() : $safeNavigationMigration(data?.context)" />
</ng-template>
<ng-template #returnContextsTemplate>
    @if (returnContext()) {
        <div class="return-buttons buttons">
            @for (kv of returnContext() | keyvalue; track kv.key) {
                @if (kv.value) {
                    <ng-container *ngTemplateOutlet="kv.value.isStatic ? noButtonReturnTemplate : buttonReturnTemplate; context: kv.value | implicit" />
                }
            }
        </div>
    }
</ng-template>

@if (hasDelete()) {
    <button class="delete" (click)="close()"></button>
}
@if (isSingleLine()) {
    <div class="singleline-wrapper">
        <div class="notify-content">
            <ng-container *ngTemplateOutlet="contentTemplate" />
        </div>
        @if (returnContext()) {
            <div class="returns">
                <ng-container *ngTemplateOutlet="returnContextsTemplate" />
            </div>
        }
    </div>
} @else {
    <ng-container *ngTemplateOutlet="contentTemplate" />
    <ng-container *ngTemplateOutlet="returnContextsTemplate" />
}