:host
    display: flex
    position: relative
    min-width: 300px
    --card-spacing: 1.25em
.card.is-rare
    box-shadow: 0 2px 3px #eadda4, 0 0 0 1px #eadda4
.error-info
    display: flex
    width: 100%
    padding: 1em
    gap: 1em
    align-items: center
    justify-content: center
    opacity: 0.3
.yurukome-id
    position: absolute
    display: flex
    inset: 0
    align-items: end
    justify-content: end
    overflow: clip
    opacity: 0.1
    user-select: none
    pointer-events: none

    span
        font-size: 4em
        font-weight: bold
        margin-right: -0.15em
        margin-bottom: -0.55em
.comment-box
    flex: 1
    z-index: 10
    overflow-x: clip
    min-width: 0 // firefox compatibility
    
    .yurukome-content
        position: relative
        display: grid
        grid-template: auto / auto 1fr
        justify-content: start
        align-items: center
        margin-bottom: 0
        gap: 0
        height: 100%
        overflow: clip
        border-radius: 8px

        .jacket
            grid-area: 1 / 1
            margin: 0
            min-width: 5em
            min-height: 5em
            margin: var(--card-spacing)
            width: 5em
            height: 5em
            border-radius: 8px
            overflow: clip
            user-select: none
        .comment-wrapper
            grid-area: 1 / 2
            display: grid
            padding: var(--card-spacing)
            padding-left: 0
            grid-template: auto minmax(0, 1fr) / minmax(0, 1fr)
            align-self: stretch
            overflow-y: auto
        .comment-info
            display: flex
            flex-direction: row
            align-items: center
            overflow: clip
            gap: 1em
        .comment-title
            flex: 1
            font-weight: bold
            margin-bottom: 0
            min-width: 0
        p:not(:last-child)
            margin-bottom: 0 // asphyxia fix
        .rare-label
            padding: 0.1em 0.5em
            border-radius: 4px
            color: #7d6f46
            $g: #fceab3, #eadda4
            background: conic-gradient($g, $g, $g, $g, $g, $g, #fceab3)
@media screen and (width < 768px)
    :host
        --card-spacing: 0.5em
    :host .card.comment-box, :host .placeholder
        // margin-bottom: 0.5em

        .yurukome-content
            .jacket
                width: 4em
                height: 4em
                min-width: 4em
                min-height: 4em
            .comment-info .comment-title
                font-size: 1em !important
    .yurukome-id span
        font-size: 2.5em
@media (prefers-color-scheme: dark)
    .card.is-rare
        box-shadow: 0 2px 3px #726945, 0 0 0 1px #726945
