bung-divider
    margin: 2em 0

    &:first-child
        margin-top: 0
    &:last-child
        margin-bottom: 0
p:not(:last-child)
    margin-bottom: 1em
a.router-link.is-disabled
    opacity: 0.5
    pointer-events: none